<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q8T209GGMN');
  gtag('send', 'pageview', {
    'dimension1':  getCookie('rct')
    });
  gtag('send','event','eventCategory','eventAction');
</script>

<!-- START #fh5co-hero -->


<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-uppercase-heading-lg text-center">
      <h1><%= t('resources.resources')%> </h1>
    </div>

    <div class="row">

      <div class="col-md-12">
        <h2 class="fh5co-uppercase-heading-sm text-center">for</h2>
        <div id="fh5co-tab-feature-center" class="fh5co-tab text-center">
          <ul class="resp-tabs-list hor_1">
            <li><i class="fh5co-tab-menu-icon ti-user"></i> Individuals</li>
            <li><i class="fh5co-tab-menu-icon ti-clipboard"></i> Lay Health Workers</li>
            <li><i class="fh5co-tab-menu-icon ti-heart"></i> Healthwise</li>
          </ul>

          <div class="resp-tabs-container hor_1">

            <div>
              <div class="fh5co-spacer fh5co-spacer-md"></div>

              <div class="row">
                <div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">CDC COVID-19 Information Website</h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>

    						<div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">CDC COVID-19 Vaccination Communication Toolkit</h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>

    						<div class="clearfix visible-sm-block"></div>

    						<div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">COVID-19 Multilingual Resource Hub</h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>
    						<div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">Multilingual COVID-19 Resources </h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>
              </div>

              <div class="fh5co-spacer fh5co-spacer-md"></div>

              <div class="row">
                <div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">COVID-19 Information</h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>

    						<div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">Covid-19 Fact Sheets</h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>

    						<div class="clearfix visible-sm-block"></div>

    						<div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">Covid-19 Testing sites </h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>
    						<div class="col-md-3 col-sm-6 fh5co-feature-item">
    							<h2 class="text-center fh5co-feature-title h4 text-uppercase">COVID-19 Vaccination</h2>
    							<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
    							<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
    						</div>
              </div>

            </div>


            <div>
              <div class="row">
                <div class="fh5co-spacer fh5co-spacer-md"></div>
                <div class="col-md-12">
                  <div class="owl-carousel-fullwidth owl-carousel-2">

                    <div class="item">
                      <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 fh5co-item-slide-img">
                              <img src="/assets/action1.png" alt="Images" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END .item -->

                    <div class="item">
                      <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 fh5co-item-slide-img">
                              <img src="/assets/action2.png" alt="Images" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END .item -->

                    <div class="item">
                      <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 fh5co-item-slide-img">
                              <img src="/assets/action3.png" alt="Images" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END .item -->

                    <div class="item">
                      <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 fh5co-item-slide-img">
                              <img src="/assets/action4.png" alt="Images" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END .item -->

                    <div class="item">
                      <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 fh5co-item-slide-img">
                              <img src="/assets/action5.png" alt="Images" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END .item -->

                  </div>
                </div>
              <!-- end slider -->
              </div>
            </div>

            <div>
              <div class="row">
                <div class="fh5co-spacer fh5co-spacer-md"></div>
                <div class="col-md-12">
                  <h2 class="h3">Heathwise</h2>
                </div>
                <div class="col-md-6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis deserunt dolorem, debitis cupiditate nihil velit dolores, inventore voluptatem delectus quos atque similique natus eaque qui, nisi repudiandae dolore sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aut maxime eius magnam.</p>
                </div>
                <div class="col-md-6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="fh5co-spacer fh5co-spacer-lg"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="fh5co-uppercase-heading-sm text-center">Generic Paragraph with Image Alignment</h2>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
      </div>
      <div class="col-md-12">
        <img src="/assets/image_1.jpg" alt="Images" class="fh5co-align-left img-responsive">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, asperiores, hic. Nihil, fugit. Illo maxime nemo minus magnam recusandae, ab culpa dignissimos velit. Consequatur voluptate, veniam ad ea asperiores sequi culpa, distinctio qui voluptates enim, fugit sint architecto rerum numquam deleniti incidunt ipsa omnis soluta similique quaerat deserunt provident repellendus excepturi! Alias natus dicta quasi hic obcaecati, pariatur eaque enim suscipit exercitationem quo libero eveniet aliquam repudiandae, nobis, quos tenetur ipsa quia eligendi expedita beatae laboriosam non molestias rem. Totam, aspernatur qui eos harum iusto reprehenderit corporis similique. Corporis delectus ullam earum sint in cum repellat laborum error et dolorum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsam, sint voluptas esse quaerat modi, ex minus provident est consectetur facilis enim vitae, cupiditate deleniti numquam illo labore maiores fuga dolorum. Quae tempora hic, dolorum possimus porro sapiente! Exercitationem velit harum, assumenda deserunt minus dolorem atque illo? Repudiandae atque, magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sequi doloremque ullam consequuntur saepe eaque magnam incidunt eligendi inventore unde quaerat mollitia, delectus, autem blanditiis modi beatae accusantium sapiente aperiam, praesentium odit. Eum quos, quas quasi quae repudiandae, velit et facere explicabo excepturi eaque sint tempore distinctio suscipit aspernatur nostrum reiciendis accusantium tenetur. Tempora enim consequuntur eos? Provident, at, obcaecati doloremque exercitationem hic autem est veritatis, voluptatum quos ad voluptatem similique sint nam corporis. Quia minus numquam tempora officiis, quo corrupti tempore natus sequi placeat. Quibusdam veniam nesciunt modi doloribus sapiente rerum perspiciatis praesentium esse dicta, magnam quaerat, sit optio!</p>
      </div>
    </div>
    <div class="fh5co-spacer fh5co-spacer-lg"></div>
  </div>
</section>
