<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q8T209GGMN');
  gtag('send', 'pageview', {
    'dimension1':  getCookie('rct')
    });
  gtag('send','event','eventCategory','eventAction');
</script>

<!-- START #fh5co-hero -->


<section id="fh5co-feature">
  <div class="container">
    <div class="fh5co-uppercase-heading-lg text-center">
      <h1><%= t('resources.resources')%> </h1>
    </div>

    <div class="row">
      <p id="notice"><%= notice %></p>

      <div class="col-md-12">
        <h2 class="fh5co-uppercase-heading-sm text-center">for</h2>
        <div id="fh5co-tab-feature-center" class="fh5co-tab text-center">
          <ul class="resp-tabs-list hor_1">
            <li><i class="fh5co-tab-menu-icon ti-user"></i> Downloads</li>
            <li><i class="fh5co-tab-menu-icon ti-clipboard"></i> Lay Health Workers</li>
            <li><i class="fh5co-tab-menu-icon ti-heart"></i> Statistics</li>
          </ul>

          <div class="resp-tabs-container hor_1">

            <div>
              <!-- first tab -->
              <div class="fh5co-spacer fh5co-spacer-md"></div>
              <%= render 'downloads', collection: @downloads %>
            </div>


            <div>
              <!-- second tab -->
              <div class="fh5co-spacer fh5co-spacer-md"></div>
            </div>

            <div>
              <!-- third tab -->
              <div class="fh5co-spacer fh5co-spacer-md"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
