<!-- START #fh5co-hero -->
<aside id="fh5co-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="fh5co-hero-wrap">
          <div class="fh5co-hero-intro">
            <h1>Covid Informed</h1>
              <h2>An Acronym<span></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
